blockquote.error {
    border-left: 5px solid #FF0000 !important;
    background-color: rgba(255, 0, 0, 0.15) !important;
}

blockquote.warn {
    border-left: 5px solid #FFD700 !important;
    background-color: rgba(255, 215, 0, 0.15) !important;
}

blockquote.note {
    border-left: 5px solid #0078D7 !important;
    background-color: rgba(0, 120, 215, 0.15) !important;
}

blockquote.tip {
    border-left: 5px solid #28A745 !important;
    background-color: rgba(40, 167, 69, 0.12) !important;
}

blockquote.important {
    border-left: 5px solid #6f42c1 !important;
    background-color: rgba(111, 66, 193, 0.08) !important;
}

blockquote.info {
    border-left: 5px solid #17A2B8 !important;
    background-color: rgba(23, 162, 184, 0.12) !important;
}

blockquote.success {
    border-left: 5px solid #28A745 !important;
    background-color: rgba(40, 167, 69, 0.12) !important;
}

blockquote .callout-title {
    display: block;
    margin: 0 0 0.25em 0;
    font-weight: 700;
}

.searchresults p {
    display: none;
}